.connectRoot{
  padding: 68px 20px;
  display: flex;
  align-items: baseline;
  justify-content: normal;
  width: 100%;
}


@media only screen and (max-width: 576px) {
  .connectRoot{
    padding-top: 36px;
  }
}
